@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  position: relative;
  height: 100vh;
}

.bg-item1 {
  position: absolute;
  width: 40%;
  height: 700px;
  border-radius: 0 0 50% 50%;
  background: hsl(293, 100%, 63%);
  transform: translate(-10%);
  background: linear-gradient(
    180deg,
    hsl(293, 100%, 63%) 0%,
    hsl(264, 100%, 61%) 100%
  );
  z-index: -1;
}

.bg-item2 {
  position: absolute;
  width: 40%;
  height: 700px;
  right: 0;
  border-radius: 50% 50% 0 0;
  background: rgb(214, 1, 240);
  transform: translate(50%);
  background: hsl(270, 20%, 96%);
  z-index: -1;
  bottom: 0;
}

.items-container {
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: center;
  gap: 100px;
  align-items: center;
  transform: translate(0, 100px);
}

.mobile-container {
  width: 20vw;
  height: 70vh;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 5px 6px 50px grey;
  padding: 12px;
  position: relative;
}

.mobile-frame {
  background-color: #ffff;
  width: 50%;
  height: 4%;
  transform: translate(62px);
  border-radius: 0 0 20px 20px;
  position: absolute;
}

.header {
  background: linear-gradient(
    -90deg,
    hsl(293, 100%, 63%) 0%,
    hsl(264, 100%, 61%) 100%
  );
  border-radius: 12px 12px 5px 5px;
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
  padding-top: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-information {
  font-size: 10px;
  color: #ffff;
}

.user-information h1 {
  font-size: 16px;
  font-weight: 400;
}

.user-information p {
  color: hsl(276, 100%, 81%);
}

.more-menus {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffff;
}

.avatar {
  background-color: #ffff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 2px;
}

.arrow {
  width: 10px;
  height: 10px;
  border: 3px solid #ffff;
  display: inline-block;
  padding: 2px;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.chat-body {
  background-color: hsl(270, 20%, 96%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 8px;
  padding: 10px;
  position: relative;
  border-radius: 0 0 15px 15px;
  height: 85%;
}

.chat-left {
  color: hsl(276, 55%, 52%);
  background-color: hsl(276, 40%, 90%);
  display: inline-block;
  padding: 10px;
  width: 65%;
  border-radius: 10px 10px 10px 5px;
}

.chat-right {
  color: hsl(271, 15%, 43%);
  transform: translate(85px);
  background-color: #ffff;
  display: inline-block;
  padding: 10px;
  width: 65%;
  border-radius: 10px 10px 5px 10px;
}

.images {
  display: flex;
  gap: 10px;
  transform: translate(88px);
  width: 155px;
}

.images img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.payment-info {
  background: linear-gradient(
    90deg,
    hsl(293, 100%, 63%) 0%,
    hsl(264, 100%, 61%) 100%
  );
  color: #ffff;
  padding: 10px;
  width: 80%;
  border-radius: 10px 10px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-info div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.payment-info div p {
  font-weight: 400;
  color: hsl(276, 100%, 81%);
  font-size: 10px;
}

.payment-info p {
  font-weight: 700;
  font-size: 14px;
}

.empty-check-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid hsl(276, 100%, 81%);
}

.chat-sender {
  position: relative;
}

.chat-sender input {
  border: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 20px;
  width: 100%;
}

input::placeholder {
  color: rgb(197, 197, 197);
  font-size: 10px;
}

.chat-sender button {
  position: absolute;
  top: 4px;
  right: 10px;
  border: none;
  background-color: hsl(271, 36%, 24%);
  padding: 5px;
  border-radius: 50%;
  width: 30px;
}

button i {
  transform: translate(-100);
}

.texts {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.texts h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  font-size: 42px;
}

.texts p {
  color: hsl(270, 7%, 64%);
  font-weight: 400;
  line-height: 1.8;
}
